body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3%;
    text-decoration: none;
    color: var(--brand-color)
    }

:root {
    --brand-color: #212121;
}

ul {
    list-style-type: none;  
}

p {
    color: #757575;
}

[href] {
    text-decoration: none;
    font-style: normal;
}

a {
    color: var(--brand-color);
    text-decoration-color: none;
}


a:visited {
    color: var(--brand-color);
}
footer a[href] {
    color: #FFFFFF;
    line-height: 24px;
}

li a[href*="tel"],
li a[href*="mail"] {
    color:#757575;
}

a[href^="index.html"].logo>span {
    color: #2196F3;
}

a[href]:hover,
a[href]:focus {
    color: #2196F3;
}

h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-style: bold;
    line-height: 1.17;

}

h3 {
    font-weight: 500;
    font-size: 16px;
}

[type="button"] {
    cursor: pointer;
    background-color: #F5F4FA;
    border: none;
}

button:hover,
button:focus[type="button"] {
background-color: #2196F3;
color: #FFFFFF;
}

.logo {
    font-weight: 700;
    font-size: 26px;
    font-family: 'Raleway';
}

footer {
    background-color: #2F303A;
    color: #FFFFFF;
    line-height: 1.7;
}

section.main {
    background-color: #2F303A;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    color: #FFFFFF;
}

section.main button {
    background-color: #2196F3;
}

section.crew {
    background-color: #F5F4FA;
}
